<%- include('header') -%>

<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<img class="about-pic" src="images/about/elaina_about.jpg">
		<h1>About</h1>

		<p>Hi there, I’m Elaina</p>

		<p>I’m a product designer with a passion for understanding complex concepts and breaking them down into visual explanations that are easy to understand.</p>

		<p>Currently I am a user experience designer on the Product team at Ring Central, a cloud communications provider, where my focus is on scaling growth and creating seamless experiences across the web, desktop and mobile devices. Here, I created brand new features from scratch, overhauled an outdated user interface, and designed new apps for iOS and Android. I spearheaded a responsive design framework for the company’s outdated website and instilled a research and testing validation process to ensure that our designs are user-centric.</p>

		<p>Prior to this position, I was a mobile product manager and UX designer at BlackRock, where I designed and launched a suite of product apps across multiple countries and services.</p>

		<p>I enjoy being involved in every stage of the design process–from discovery and ideation to prototyping to design validation and iteration. Nothing makes me happier than working with a team that believes in their product and prioritizes the value of good design.</p>
	</div>
</div>

<%- include('footer') -%>