<%- include('header') -%>

<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<img class="about-pic" src="images/about/nate_profile.jpg">
		<h1>About</h1>

		<p class="paragraph-spacing">Nathan is from Southern California. In college, he studied Business Management and Finance. After graduating, he decided to pursue startup life, instead of corporate life. Nate had the opportunity to work with two amazing founders from SWIM who also helped create Yammer. After SWIM dissolved, he joined Eaze, a service that helps patients receive their medical marijuana through on demand delivery. Nate started in Customer Service then quickly transitioned to Engineering as the only QA Analyst. During his time as a QA Analyst, he helped rebuild the company's website, create new features, and improve the company's core product. One year later, he transitioned to the Product team where he built the foundation of the company's SEO pages. He also managed the Engineering team, helping them release new features on the company's web and mobile app platform.</p>
	</div>
</div>

<%- include('footer') -%>