<%- include('header') -%>

<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<img class="about-pic" src="images/about/elaina_about.jpg">
		<h1>About</h1>

		<p class="paragraph-spacing">I’m Elaina, a product designer and visual communicator with a passion for understanding complex concepts and breaking them down into graphical explanations that are easy to understand.</p>

		<p class="paragraph-spacing">Currently I am a user experience designer on the Product team at RingCentral, a cloud communications provider, where my focus is on scaling growth and creating seamless experiences across the web, desktop and mobile. Here, I ideate concepts for new features and lead product design through launch. I’m currently spearheading a responsive design framework for the company’s outdated website and practice a research and testing validation process to ensure that designs are user-centric.</p>

		<p class="paragraph-spacing">Prior to that, I was a hybrid user experience designer and mobile product manager at BlackRock. I simultaneously designed user experiences across iOS and responsive web apps and managed them as a PM, working with cross-functional teams, ensuring product delivery, and making decisions through an analytics and data-driven process.</p>

		<p class="paragraph-spacing">I enjoy being involved in every stage of the design process--from discovery and ideation to prototyping to design validation and iteration. I strongly believe in the value of conducting research before meeting pen to paper, and usability testing after each design phase. Nothing makes me happier than creating visually-pleasing, functional experiences and working with a team that believes in their product.</p>

	</div>
</div>

<%- include('footer') -%>