<%- include('header') -%>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>

<div class="container">
	<div class="col-md-10 col-md-offset-1 text-center">
		<h1>Contact</h1>
		<h3>Email me at</h3>
		<h4>elaina@tiavion.com</h4>
	</div>
	<div class="col-md-4 col-centered text-center social-links">
		<div class="social">
		    <ul>
		    	<li><a href="https://www.linkedin.com/in/elainatia" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a></li>
		        <li><a href="https://www.facebook.com/elaina.tia" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
		        <li><a href="https://plus.google.com/114590084141010044973" target="_blank"><i class="fa fa-lg fa-google-plus"></i></a></li>
		        <li><a href="https://www.instagram.com/tiaface" target="_blank"><i class="fa fa-lg fa-instagram"></i></a></li>
		        <li><a href="#"><i class="fa fa-lg fa-dribbble"></i></a></li>
		    </ul>
		</div>
		
	</div>
</div>