<%- include('header') -%>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>

<div class="container">
	<div class="col-md-10 col-md-offset-1 text-center">
		<h1>Contact</h1>
		<div class="email">
			<h3>Email me at</h3>
			<!--<h4>elaina@tiavion.com</h4>-->
			<img src="images/contact/email.png">
		</div>
	</div>
	<div class="col-md-4 col-centered text-center social-links">
		<%- include('social-links') -%>
	</div>
</div>