<%- include('header') -%>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-centered">
			<h1>Express Setup:</h1>
			<h2>Research and Design</h2>
			<img src="/images/projects/express-project/1-macbook-pro-retina-ES_framed_4steps.png">
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-centered">
			<h3>Background</h3>
			<p>
				RingCentral’s core product is a cloud-based business phone system that arrives preconfigured and ready for use, without the need for any complex hardware. Once a license is purchased, the customer becomes the system administrator, and gains the authority to configure the company’s phone system preferences on their own by completing the “Express Setup”, a self-service onboarding site, or by contacting a live customer representative.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-centered">
			<h3>Problem</h3>
			<p>
				A majority of small business customers typically choose to set up the phone system on their own. However, instead of quickly and independently setting up users, the previous version of Express Setup left new customers frustrated and confused, resulting in a 27% completion rate. Failure to complete the self-setup led to costly, time-consuming support calls and new customers discontinuing from the service. Thus, Ring Central sought a better way for new customers to set up their phone system.
			</p>
			<img src="/images/projects/express-project/2-old_usersetup_5_clicks.png">
		</div>
	</div>
</div>