<%- include('header') -%>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-centered">
			<h1>Express Setup:</h1>
			<h2>Research and Design</h2>
			<img src="/images/projects/express-project/1-macbook-pro-retina-ES_framed_4steps.png">
		</div>
	</div>
</div>