<%- include('header') -%>

<div class="container banner">
	<div class="row">
		<div class="col-md-10 col-centered text-center">
			<h1>Express Setup:</h1>
			<h2>Research and Design</h2>
			<img class="col-centered" src="/images/projects/express-project/1-macbook-pro-retina-ES_framed_4steps.png">
		</div>
	</div>
</div>
<div class="nav-separator"></div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-centered">
			<ul id="project-nav">
				<li><a href="#background">BACKGROUND</a></li>
				<li><a href="#problem">PROBLEM</a></li>
				<li><a href="#role">MY ROLE</a></li>
				<li><a href="#research">RESEARCH</a></li>
				<li><a href="#design">DESIGN</a></li>
				<li><a href="#results">RESULTS</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="background"><h3>Background</h3></a>
			<p>
				RingCentral’s core product is a cloud-based business phone system that arrives preconfigured and ready for use, without the need for any complex hardware. Once a license is purchased, the customer becomes the system administrator, and gains the authority to configure the company’s phone system preferences on their own by completing the “Express Setup”, a self-service onboarding site, or by contacting a live customer representative.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="problem"><h3>Problem</h3></a>
			<p>
				A majority of small business customers typically choose to set up the phone system on their own. However, instead of quickly and independently setting up users, the previous version of Express Setup left new customers frustrated and confused, resulting in a 27% completion rate. Failure to complete the self-setup led to costly, time-consuming support calls and new customers discontinuing from the service. Thus, Ring Central sought a better way for new customers to set up their phone system.
			</p>
			<div class="col-md-8 col-md-offset-2 text-center">
				<figure class="figure">
					<img src="/images/projects/express-project/2-old_usersetup_5_clicks.png" alt="Heuristic Evaluation">
					<figcaption class="figure-caption text-xs-center text-wrap-img-width"><span style="font-weight: bold;">HEURISTIC EVALUATION FINDING: </span>Just to set up one user, the old interface required the user to click at least 5 times and complete 11 fields.</figcaption>
				</figure>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="role"><h3>My Role</h3></a>
			<p>
				The following illustrates my involvement in the process from idea conception through product launch.
			</p>
			<img src="/images/projects/express-project/3-My-Role-cycle_3.png">
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="research"><h3>Research</h3></a>
			<h4>Usability Improvements on iOS</h4>
			<p>
				The research phase involved investigating support tickets, analyzing dropoff rates, conducting a heuristic evaluation, and gathering feedback in order to understand pain points along the onboarding customer journey. After interviewing the sales team, implementation representatives responsible for onboarding new users, support representatives helping new customers post- setup, as well as 20 customers, it was clear that the Express Setup site caused a lot of pain both internally for stakeholders and externally for customers.
			</p>
			<img src="/images/projects/express-project/4-Quotes.png" class="image-bottom-margin">
			<p>
				From the quantitative and qualitative data collected, I discovered the following issues about the user experience:
			</p>
			<ul>
				<li>
					1) Users who had gone through the old version of Express Setup found it very long and tedious. 
				</li>
				<li>
					2) Many users were not able to complete the previous flow on their own.
				</li>
				<li>
					3) Users found the previous flow confusing.
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="design"><h3>Design</h3></a>
			<p>
				In redesigning the new Express Setup, I addressed the issues encountered by new users, and aimed to make the new version easier, clearer, and more engaging in order to encourage self-setup.
			</p>
			<h4>PROBLEM: Users found the setup long and tedious.</h4>
			<p>
				On average, users would take over three hours to complete the flow, sometimes even a few weeks if they were waiting for an appointment with a live implementation representative. This often resulted in frustration or complete abandonment of the process.
			</p>
			<figure>
				<img src="/images/projects/express-project/5-ezgif.com-gif-maker.gif.gif" class="gif-width">
				<figcaption class="figure-caption text-xs-center gif-caption">Each section of the flow contained nested sections that required additional clicks and fields that users felt were unnecessary in what was supposed to be a quick setup.</figcaption>
			</figure>

			<h4>SOLUTION #1: Shorten the whole process.</h4>
			<p>
				To help a new user get set up as quickly as possible, I streamlined the flow and eliminated any step unrelating to getting a new phone number activated and ringing. In order to manage expectations, I used a new layout that presented all the steps visibly on one screen so that upon arrival, a user could immediately see what was required to complete the setup. The new design enabled users to complete the entire setup in under 15 minutes.
			</p>
			<img src="/images/projects/express-project/6-3step-setup.png">

			<h4>SOLUTION #2: Reduce the number of choices.</h4>
			<p>
				New customers wanted to verify their information and did not want to spend time thinking about what to fill in. In response, I created and promoted a common, default option. Eliminating the number of choices for the user helped reduce decision fatigue, and presenting a “Skip This step” button allowed the user to get through the flow quickly but made available the option of coming back later to customize special settings.
			</p>
			<img src="/images/projects/express-project/7-Vm-greeting-New.png" class="image-bottom-margin">

			<h4>PROBLEM: Users were not able to complete the previous flow on their own.</h4>
			<p>
				New users going through Express Setup typically first tried to set themselves up through trial-and-error, but required assistance from a combination of online search, support articles, or forums. Due to either frustration or failure to complete their own setup, customers would end up calling the support team.
			</p>
			<img src="/images/projects/express-project/8-Company_Greeting_before.png">

			<h4>SOLUTION: Be the customer service representative.</h4>
			<p>
				In attempts to recreate the live assistance experience, I designed the interface to feel like the user was talking to a live representative who was friendly, warm, and down-to-earth. I solicited required information in a conversational tone by asking questions that helped educate the user on how that feature worked and helped provide context for the user. I asked the user one question at a time, and presented followup questions only relevant to the user’s answers.
			</p>
			<img src="/images/projects/express-project/9-Company-Greeting-New.png" class="image-bottom-margin">

			<h4>PROBLEM: Users found the previous flow confusing.</h4>
			<p>
				Many new users did not understand the content within each section, nor did they understand why they needed to work on a certain step at that moment. The previous version of Express Setup required the user to complete numerous blank fields with no introduction or explanation about the feature they were configuring.
			</p>
			<img src="/images/projects/express-project/10-seq_sim_old.png">
			
			<h4>SOLUTION #1: Explain with pictures.</h4>
			<p>
				For those who often scanned past text or didn’t understand certain words, I made required fields visual with explanatory diagrams. A common question for the support team was the difference between forwarding a call “simultaneously” versus “sequentially”. Explaining terms with visual diagrams helped users quickly understand the feature.
			</p>
			<img src="/images/projects/express-project/11-before-after_sim-seq.gif" class="gif-width-sim-seq">

			<h4>SOLUTION #2: Warm users up before they dive in.</h4>
			<p>
				Since users found tasks hard to understand and out of context, I provided a brief introduction before dropping them into a form of blank fields. I informed them of what they were about to do and why it was important for them to complete this section at this point. Furthermore, I changed the originally-complex and technical language to be more colloquial and user-friendly.
			</p>
			<img src="/images/projects/express-project/12-Users_Before.png">
			<img src="/images/projects/express-project/13-Users_new.png">
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="results"><h3>Results</h3></a>
			
			<p>
				After the redesign, Express Setup completion increased by 10%, and users found the setup process easy. They also found the revised design cleaner, shorter, clearer and much easier to use.
			</p>

			<blockquote>“The simple, minimalist look...made it easy to understand, [it was] very helpful.”</blockquote>
			<p>-Truman, Customer</p>

			<p>
				In terms of understanding the content, users had fewer questions along the way. Feedback from users revealed that there were no longer questions pertaining to confusing content within each section, but rather, about advanced features that were omitted from Express Setup.
			</p>
			<p>
				Also, a majority of users selected the default option while completing the process. Many of these who selected “Default” at first completed the whole process once, and then returned at a later time to reconfigure and customize specific selections. Overall, participants felt confident to complete the flow on their own.
			</p>
			
			<blockquote>“It’s really good, very self-explanatory...It’s easy enough to not need an implementation representative.”</blockquote>
			<span>-Amie, Customer</span>
		</div>
	</div>
</div>
<%- include('footer') -%>