<div id="footer" class="container">
	<div class="row text-center">
		<%- include('social-links') -%>
	</div>
	<div class="row text-center">
		Copyright © 2016 <a href="/">Tiavion</a>. All Rights Reserved.
	</div>
</div>