<div id="footer" class="container">
	<div class="row text-center">
		<%- include('social-links') -%>
	</div>
	<div class="row text-center">
		Copyright © 2017 <a href="/">Nathan Siswanto</a>.
	</div>
</div>