<%- include('header') -%>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-centered">
			<h1>Glip Mobile App:</h1>
			<h3>Research and Design</h3>
			<img src="/images/projects/glip-project/1-cover-Glip-mobile-apps.png">
			<ul id="project-nav">
				<li><a href="#strategy">STRATEGY</a></li>
				<li><a href="#problem">PROBLEM</a></li>
				<li><a href="#role">MY ROLE</a></li>
				<li><a href="#process_ios">PROCESS: iOS</a></li>
				<li><a href="#final_ios_designs">FINAL iOS DESIGNS</a></li>
				<li><a href="#process_android">PROCESS: ANDROID</a></li>
				<li><a href="#final_android_designs">FINAL ANDROID DESIGNS</a></li>
				<li><a href="#next">NEXT STEPS</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Business Strategy</h3></a>
			<p>
				Users of RingCentral’s product have typically used its calling, texting, and fax capabilities primarily for reaching external clients. These users do communicate internally with other employees, but typically did not use RingCentral products to achieve this goal. Recognizing the gap in internal collaboration features, RingCentral acquired Glip, a real-time messaging and team collaboration app (similar to Slack), aiming to become a fully-integrated communication platform.
			</p>
			<img src="/images/projects/glip-project/2-Glip_logo_rgb_600px.png">
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="problem"><h3>Problem</h3></a>
			<p>
				The first step in integrating the acquired product was to rebuild their non-performant javascript mobile app in native code. In order to quickly release a functional, reliable app, the app functionality and design remained similar to the existing app, with a reskin to RingCentral brand guidelines, and an addition of some usability enhancements that would improve the experience and feel native on iOS and Android.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<h3>My Role</h3>
			<p>
				While the original objective of this project was to re-brand Glip and optimize the app for native mobile platforms, I helped the team realize that we could also use this as an opportunity to re-structure some of the key flows for a better user experience.
			</p>
			<div class="col-md-10 col-md-offset-2">
				<img src="/images/projects/glip-project/3-timeline.png" class="img-responsive">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<h3>Process: Usability Improvements on iOS</h3>
			<p>
				A few of the usability enhancements I advocated are shown below.
			</p>
			<h4 class="indent-usability-header">Finding a Conversation</h4>
			<div class="col-md-5 col-md-offset-1">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/4-messages.png">
					<h4>BEFORE</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Finding a conversation required scrolling through a long list of names, and it was difficult to find a specific person.</li>
						<li>It was difficult to distinguish conversations with people I found important (ie. my Favorites) from those I thought were less important (ie. a team where lots of messages accumulated).</li>
					</ul>
				</div>
			</div>

			<div class="col-md-5">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/5-Messages_noframe.png">
					<h4>AFTER</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Filters at the top helped distinguish an individual conversation from a team conversation and quickly navigate to messages from my Favorites.</li>
						<li>Individual contact photos differed from a team or group conversation icon.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<h4 class="indent-usability-header">Creating a New Message</h4>
			<div class="col-md-5 col-md-offset-1">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/6-start new message_select person.png">
					<h4>BEFORE</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Just to create a new message, users had to navigate through the entire company directory.</li>
						<li>Looking for my coworker, Sam would require scrolling through 300+ names first.</li>
					</ul>
				</div>
			</div>

			<div class="col-md-5">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/7- New Message Input Name.png">
					<h4>AFTER</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Suggested contacts were visible to help cue the user and to easily start a new message.</li>
						<li>Search allowed quickly finding a contact to start a message.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<h4 class="indent-usability-header">Creating a New Team</h4>
			<div class="col-md-5 col-md-offset-1">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/7- New Message Input Name.png">
					<h4>BEFORE</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Just to create a new message, users had to navigate through the entire company directory.</li>
						<li>Looking for my coworker, Sam would require scrolling through 300+ names first.</li>
					</ul>
				</div>
			</div>

			<div class="col-md-5">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/8-create_team_2.png">
					<h4>AFTER</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Creating a team required at least 3 taps: first to give the team a name, then to select who could join the team, and finally to select members to add to the team.</li>
						<li>Adding members to a team required scrolling through a long list of contacts to find a person and add them.</li>
						<li>There was no visible place to see who I had added to the team, without scrolling up and down to see my selections.</li>
					</ul>
				</div>
			</div>
		</div>	
	</div>