<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="css/global.css">

<% if (typeof css !== 'undefined') { %>
<link rel="stylesheet" href="<%- css %>">
<% } %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Tiavion
	</title>
</head>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">ET</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar">
	     	<ul class="nav navbar-nav">
	    		<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
			    	<ul class="dropdown-menu">
				        <li><a href="/express-project">Express Project</a></li>
				        <li role="separator" class="divider"></li>
				        <li><a href="/glip-project">Glip Project</a></li>
				        <li role="separator" class="divider"></li>
				        <li><a href="/iwatch-project">iWatch Project</a></li>
			      	</ul>
			    </li>
			    <li><a href="/about">About</a></li>
			    <li><a href="/resume">Resume</a></li>
			    <li><a href="/fun">Fun</a></li>
			    <li><a href="/contact">Contact</a></li>
	      	</ul>
	      </div>
	  </div>
</nav>