<%- include('header') -%>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 elaina text-center">
			<h1 class="greeting-name">Hi there, I'm Elaina.</h1>
	    	<h2 class="greeting-description">A product designer in San Francisco.</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<div class="project-title"><h1>Express Setup</h1></div>
			<div class="project-caption"><h4>Case Study-Research and Prototyping</h4></div>
			<a href="/express-project">
				<div class="project-image">
					<img src="images/home/banner_express_setup.png">
				</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<div class="project-title"><h1>Glip</h1></div>
			<div class="project-caption"><h4>iOS and Android Designs</h4></div>
			<a href="/glip-project">
				<div class="project-image">
					<img src="images/home/banner_glip.png">
				</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<div class="project-title"><h1>iWatch App</h1></div>
			<div class="project-caption"><h4>Designing for the Unknown</h4></div>
			<a href="/iwatch-project">
				<div class="project-image">
					<img src="images/home/banner_2.png">
				</div>
			</a>
		</div>
	</div>
</div>
<%- include('footer') -%>