<%- include('header') -%>
<div class="image-box col-centered text-center">
	<h1>iWatch App Full Design</h1>
	<img src="/images/projects/iwatch-project/iWatch_full_design.png">
</div>
<%- include('footer') -%>