<%- include('header') -%>

<div class="container banner">
	<div class="row">
		<div class="col-md-10 col-centered">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h1>RingCentral iWatch App</h1>
				<img class="col-centered" src="/images/projects/iwatch-project/iWatch-Cover-Img.png">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-centered">
			<ul id="project-nav">
				<li><a href="#background">BACKGROUND</a></li>
				<li><a href="#role">MY ROLE</a></li>
				<li><a href="#challenges">CHALLENGES</a></li>
				<li><a href="#process">PROCESS</a></li>
				<li><a href="#solution">SOLUTION</a></li>
				<li><a href="#results">RESULTS</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="background"><h3>Background</h3></a>
			<p>
				Similar to Skype, RingCentral enables users to manage their business calls, voice messages, text messages, and faxes all in one app. As communication becomes more mobile and cloud-centric, users will continue to demand access to communication tools from all endpoints. In addition to the web, desktop, tablet, and mobile phone, users would start to demand access from even the convenience of their own wrist. Being a leader in the communication technology space, RingCentral aimed to provide access from a watch app and timed its release with the public release of Apple’s iWatch.
			</p>
			<img class="col-centered" src="/images/projects/iwatch-project/Multi-Devices.png">
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="role"><h3>My Role</h3></a>
			<p>
				As a lead designer without a physical device, I had to help all the stakeholders involved understand the interplay between software and hardware from the perspective of an end customer. I had to design something new and unfamiliar based on many educated hypotheses, multiple rounds of user feedback, over two months of design iterations, and a little imagination. I collaborated closely with various stakeholders to bring this product to market from conception to launch.
			</p>
			<img class="col-centered" src="/images/projects/iwatch-project/x-functional-teams.png">
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="challenges"><h3>Challenges</h3></a>
			<p>
				One particular activity that presented many challenges was designing a meaningful event log of exchanged communication. The following were a few of the challenges:
			</p>
			
			<div class="col-md-5 col-md-offset-2">
				<figure class="gray-square">
					<figcaption>
						How do I make an event log different but just as useful as the one on the iPhone app?
					</figcaption>
					<img src="/images/projects/iwatch-project/make_watch_app_useful.png">
				</figure>
			</div>
			<div class="col-md-5">
				<figure class="gray-square">
					<figcaption>
						How will the user navigate the app without a navigation and with limited controls?
					</figcaption>
					<img width="36%" src="/images/projects/iwatch-project/menu-on-watch.png">
				</figure>
			</div>

			<div class="col-md-8 col-md-offset-3 top-gap">
				<figure class="gray-square">
					<figcaption>
						How do I create a useful event log on such a small screen?
					</figcaption>
					<img src="/images/projects/iwatch-project/translate-to-small-screen.png">
					<figcaption>
						A useful event log would consolidate all the information a user would find important from a phone screen to one that was 1/3 of its size (38mm).
					</figcaption>
				</figure>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="process"><h3>Process</h3></a>
			<h4>Typical User Behavior</h4>
			<p>
				Inbound and outbound calling and messaging are some of the core features that RingCentral customers frequently use on the mobile app. As much as the team wanted to enable these same two-way features on a watch, we had to prioritize only activities that would generate brief, meaningful, and simple interactions that would also be supported by the device’s limited technology.
			</p>
			<p>
				In designing this app, we understood that users interacting with a watch would primarily consume more content than they would create. For RingCentral’s real-time communication product, consumption activities referred to answering, reading, and responding to incoming calls and messages, which would occur more frequently than creating new calls and messages.
			</p>
			<img class="col-centered" src="/images/projects/iwatch-project/creation-vs-consumption.png">

			<h4>User Goal</h4>
			<p>
				The user goal was to accomplish all the primary consumption activities feasible from a mobile phone on a watch:
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-centered gray-square-large text-center">
			<h4>VIEWING NEW NOTIFICATIONS</h4>
			<br><br>
			<%- include('carousels/iwatch-project-carousel') -%>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="solution"><h3>Solution</h3></a>			
			<p>
				The purpose achieved by the iWatch was to highlight events that required the most attention, and specifically to notify users of the latest communication from their important contacts. We fulfilled this objective by making the home screen an event log that was people- based. This “timeline” became the most important screen and was placed in the beginning of the app, helping narrow down the users’ choices in navigating to the next screens.
			</p>
			<div class="col-md-8 col-md-offset-2">
				<p>
					On the phone app, if I was looking for any missed communication from my boss, Jane Smith, I would have to check either the “Messages” or “Call Log” section to look through a list of names. In this flow, I would have to first search by communication type, and then for a person’s name.
				</p>

				<div class="col-md-4 col-md-offset-1">
					<img src="/images/projects/iwatch-project/13-most-recent-messages.png">
				</div>
				<div class="col-md-4">
					<img src="/images/projects/iwatch-project/14-most-recent-calls.png">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<p>
				On the watch app, users would most likely find the latest communication with a contact most important and relevant, so we decided to shift away from the paradigm used on the phone. Instead of separating notifications by communication type, we grouped them by contact person in the events timeline.
			</p>
			<div class="col-md-8 col-md-offset-2">
				<p>Ability to drill down into the log of events with a contact</p>
				<img src="/images/projects/iwatch-project/15-watch-homescreen.png">
			</div>
			<div class="col-md-8 col-md-offset-2">
				<p>Ability to view the latest communication by contact person</p>
				<img src="/images/projects/iwatch-project/16-events-listed-by-people.png">
				<p>
					On the watch app, instead of checking either a “Messages” or a “Calls” section first, I could immediately see upon opening the app if Jane was trying to reach me. Here, I could see in one glance that I had three new events from her, including a missed call at 4:35pm.
				</p>
			</div>
			<div class="col-md-10">
				<p>
					From the home screen, users could immediately decide whether they wanted to view more details and take action. This design optimized a way to navigate through workflows with the fewest number of taps in a minimal amount of space.
				</p>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<img src="/images/projects/iwatch-project/17-wireframe-flow.png">
				<p>
					By designing the timeline to be people-based, we created an easy way for users to quickly see whether they had any missed notifications, and who tried to reach them.
				</p>
				<div class="text-center">
					<a href="http://finance.yahoo.com/news/ringcentral-arms-mobile-workforce-apple-160000762.html" target="_blank" class="btn btn-default">SEE FULL DESIGN</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="results"><h3>Results</h3></a>			
			<p>
				In 2015 <a href="http://finance.yahoo.com/news/ringcentral-arms-mobile-workforce-apple-160000762.html" target="_blank">we launched RingCentral’s first iWatch app</a> in conjunction with an updated release of the RingCentral iPhone app. The launch has increased iOS downloads by 9% in the Apple App Store, and continues to be a well-received addition to the suite of RingCentral’s business communication products. We are continuously testing and collecting user feedback as we iterate on enhancing features for the next version.
			</p>
		</div>
	</div>
</div>
<%- include('footer') -%>
