<%- include('header') -%>

<div class="container banner">
	<div class="row">
		<div class="col-md-10 col-centered text-center">
			<h1>Published</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10 col-centered">
				<h4>Publisher: Kanoa</h4>
				<a href="https://getkanoa.com/blogs/news/customer-visits-at-kanoa-hq-nate-saj?utm_source=Newsletter&utm_medium=Update&utm_campaign=Nate%20%26%20Saj"><h4>Title: Nate & Saj Visit KANOA HQ</h4></a>
				<h4>Author: Jordan Shou</h4>
				<br><br>
				<div class="text-center">
					<img src="/images/projects/published/published-1.jpeg">
				</div>
			</div>
		</div>

		<br><br><hr>

		<div class="row">
			<div class="col-md-10 col-centered">
				<h4>Publisher: Stancenation</h4>
				<a href="http://www.stancenation.com/2013/12/25/whats-your-style-nates-vip-styled-acura-cl/"><h4>Title: What's Your Style: Nate's VIP-styled Acura CL</h4></a>
				<h4>Author: John Krueger</h4>
				<br><br>
				<div class="text-center">
					<img src="/images/projects/published/published-2.jpg">
				</div>
			</div>
		</div>

		<br><br><hr>

		<div class="row">
			<div class="col-md-10 col-centered">
				<h4>Publisher: Brew Your Own</h4>
				<a href="https://byo.com/stories/issue/item/3382-build-a-flight-serving-tray-projects"><h4>Title: Build a Flight Serving Tray: Projects</h4></a>
				<h4>Author: Nathan Siswanto </h4>
				<br><br>
				<div class="text-center">
					<img src="/images/projects/published/published-3.jpg">
				</div>
			</div>
		</div>
	</div>
	
</div>
<%- include('footer') -%>