<%- include('header') -%>

<div class="container">
	<div class="col-md-10 col-md-offset-1 text-center">
		<h1>Resume</h1>
		<div class="hidden-xs">
			<iframe src="pdfs/Elainas-Resume.pdf" width="800" height="2000"></iframe>
		</div>
		<div class="visible-xs">
			<a href="pdfs/Elainas-Resume.pdf" target="_blank">Click for my resume</a>
		</div>
	</div>
</div>
<%- include('footer') -%>