<div class="social">
    <ul>
        <li><a href="mailto:nathan.siswanto@gmail.com"><i class="fa fa-lg fa-envelope"></i></a></li>
        <li><a href="https://www.linkedin.com/in/nathansiswanto" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a></li>
        <li><a href="https://github.com/sweatynate" target="_blank"><i class="fa fa-lg fa-github"></i></a></li>
        <li><a href="https://www.instagram.com/sweatynate" target="_blank"><i class="fa fa-lg fa-instagram"></i></a></li>
        <li><a href="https://soundcloud.com/nate-siswanto" target="_blank"><i class="fa fa-lg fa-soundcloud"></i></a></li>
    </ul>
</div>
