#project-nav {
	margin-top: 10px;
}

#project-nav li{
	display: inline;
	margin: 0 35px;
}


img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

.banner {
	background: #0684BD;
	color: white;
	width: 100%;
}

.banner img {
	margin-bottom: -16px;
}

.nav-separator {
	padding-top: 16px;
}

.text-wrap-img-width {
	width: 90%;
	padding: 0.5em 0.5em 0.5em 5em;
	color: #adabab;
}

.gif-width {
	width: 65%;
}

.gif-width-sim-seq {
	width: 90%;
}

.gif-caption {
	width: 90%;
    padding: 0.5em 5em 0.5em 12em;
    text-align: center;
    color: #adabab;
}

.gray-square-large {
	background: #F2F2F2;
	padding: 30px 40px 30px;
}

.top-gap {
	margin-top: 25px;
}