#bm-carousel img {
	max-height: 350px;
}

#bm-carousel img {
	float: none;
	margin: 0 auto;
}


#photo-grid .photo-item {
	margin: 10px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border: 1px solid #ddd;
}

#photo-grid .photo-item img {
	line-height: 1.4287;
	padding: 4px;
	height: 100%;
	width: 100%;
}