ul#project-nav {
	margin-top: 10px;
}

ul#project-nav li {
	list-style-type: none;
	display: inline;
	margin: 0 10px;
}

.screenshots-before-after {
	text-align: center;
}

.before-after-list li {
	margin: 20px 0;
}

.indent-usability-header {
	margin-left: 40px;
}

.banner {
	background: #0684BD;
	color: white;
	width: 100%;
}