ul#project-nav {
	margin-top: 10px;
}

ul#project-nav li {
	list-style-type: none;
	display: inline;
	margin: 0 10px;
}

.screenshots-before-after {
	text-align: center;
}

.before-after-list li {
	margin: 20px 0;
}

.indent-usability-header {
	margin-left: 40px;
}

.banner {
	background-image: url(/images/projects/glip-project/0-Glip_bkgd_gradient.png);
	color: white;
	width: 100%;
}

.gray-square {
	background: #F2F2F2;
	padding: 25px 0 25px;
}

#compose-message-ios {
	margin-left: 36px;
}

#action-sheet-android {
	margin-left: 40px;
}

.image-top-bottom-margin {
	margin: 18px;
}

.android-row-margin {
	margin: 20px;
}
