.greeting-name {
	font-style: normal;
	font-size: 40;
	font-weight: 800;
	color: #444;
	text-rendering: optimizelegibility;
}

.greeting-description {
	font-style: normal;
	font-size: 31px;
	font-weight: 400;
	color: #999;
	text-rendering: optimizelegibility;
}

.elaina {
	padding-bottom: 60px;
}

.project-title {
	float: left;
}

.project-caption {
	float: right;
	margin-top: 20px;
}

.project-image {
	clear: both;
}

.row-center {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.row-topspace {
	margin-top: 45px;
}