.elaina {
	padding-bottom: 80px;
}

.project-title {
	float: left;
}

.project-caption {
	float: right;
}

.project-image {
	clear: both;
}

.row-center {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}