#project-nav {
	margin-top: 10px;
}

#project-nav li{
	display: inline;
	margin: 0 23px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.banner {
	background: #0684BD;
	color: white;
}

.gray-square {
	background: #F2F2F2;
	padding: 20px;
}

.top-gap {
	margin-top: 25px;
}